{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link href="{% static 'css/smoothproducts.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="product-category">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="right">
          <div class="product-detail-view">
            <div class="row">
              <div class="col-md-6">

                <div class="sp-wrap">
                  {% for item in self.product_images %}
                  {% image item.value.image fill-600x800 as img %}
                  <a class="item" href="{{ img.url }}">
                    <img src="{{ img.url }}" alt="">
                  </a>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="product-detail-content">
                  <div class="product-name">
                    <h4><a href="{{ self.url }}">{{ self.custom_title }}</a>
                    </h4>
                  </div>

                  <div class="price">
                    {% if self.old_price %}
                    <span class="price-old">{{ self.old_price }}&#2547;</span>
                    {% endif %}
                    <span class="price-new">{{ self.new_price }}&#2547;</span>
                  </div>
                  <div class="stock">
                    <span>In stock : </span>
                    {% if self.is_available %}
                    <span style="color: green;">Yes</span>
                    {% else %}
                    <span style="color: red;">No</span>
                    {% endif %}
                  </div>

                  <div class="Sort-by">
                    <label>Size</label>
                    <select class="selectpicker form-control" id="select-by-size">
                      {% for size in sizes %}
                      <option value="#">{{ size }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="Color">
                    <label>Color</label>
                    <select class="selectpicker form-control" id="select-by-color">
                      {% for color in colors %}
                      <option value="#">{{ color }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="product-qty">
                    <label for="qty">Qty:</label>
                    <div class="custom-qty">
                      <button
                        onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) result.value--;return false;"
                        class="reduced items" type="button"> <i class="fa fa-minus"></i>
                      </button>
                      <input type="text" class="input-text qty" title="Qty" value="1" maxlength="8" id="qty" name="qty">
                      <button
                        onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;"
                        class="increase items" type="button"> <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button data-product="{{ self.id }}" data-action="add" type="submit" class="btn btn-default update-cart">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          {% if self.description %}
          <div class="product-detail-tab">
            <div class="row">
              <div class="col-md-12">
                <div id="tabs">
                  <ul class="nav nav-tabs">
                    <li><a class="tab-Description selected" title="Description">Description</a></li>

                  </ul>
                </div>
                <div id="items">
                  <div class="tab-content">
                    <ul>
                      <li>
                        <div class="items-Description selected">
                          <div class="Description">
                            {{ self.description | safe }}
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/smoothproducts.min.js'  %}"></script>
<script>
  $(window).load(function () {
    $('.sp-wrap').smoothproducts();
  });
</script>
{% endblock %}