{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="main-slider" class="owl-carousel">
          <div class="item"><img src="images/main-banner1.jpg" alt="main-banner1"></div>
          <div class="item"><img src="images/main-banner2.jpg" alt="main-banner2"></div>
          <div class="item"><img src="images/main-banner3.jpg" alt="main-banner3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Featured Products block Start  -->
<div id="Featured">
  <div class="container">
    <div class="row">
      <div class="col-md-12 featured">
        <div class="Featured-Products-title">
          <h2 class="tf">Trending Now!<span> Get Our Best Prices </span></h2>
        </div>
        <div class="customNavigation"> <a class="btn featured_prev prev"><i class="fa fa-angle-left"></i></a> <a
            class="btn featured_next next"><i class="fa fa-angle-right"></i></a> </div>
        <div class="box">
          <div id="featured-products" class="owl-carousel">
            <div class="item">
              <div class="product-block ">
                <div class="image"> <a href="product-detail-view.html"><img class="img-responsive" title="T-shirt"
                      alt="T-shirt" src="images/product/feature-pro-2.jpg"></a> </div>
                <div class="product-details">
                  <div class="product-name">
                    <h3><a href="product-detail-view.html">Black African Print Pencil Skirt
                      </a></h3>
                  </div>
                  <div class="price"> <span class="price-old">$123.20</span> <span class="price-new">$14.99</span>
                  </div>
                  <div class="product-hov">
                    <ul>
                      <li class="wish"><a href="#"></a></li>
                      <li class="addtocart"><a href="#">Add to Cart</a> </li>
                      <li class="compare"><a href="#"></a></li>
                    </ul>
                    <div class="review"> <span class="rate"> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star"></i>
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-block ">
                <div class="image"> <a href="product-detail-view.html"><img class="img-responsive" title="T-shirt"
                      alt="T-shirt" src="images/product/feature-pro-3.jpg"></a> </div>
                <div class="product-details">
                  <div class="product-name">
                    <h3><a href="product-detail-view.html">Black African Print Pencil Skirt
                      </a></h3>
                  </div>
                  <div class="price"> <span class="price-old">$123.20</span> <span class="price-new">$14.99</span>
                  </div>
                  <div class="product-hov">
                    <ul>
                      <li class="wish"><a href="#"></a></li>
                      <li class="addtocart"><a href="#">Add to Cart</a> </li>
                      <li class="compare"><a href="#"></a></li>
                    </ul>
                    <div class="review"> <span class="rate"> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star"></i>
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-block ">
                <div class="image"> <a href="product-detail-view.html"><img class="img-responsive" title="T-shirt"
                      alt="T-shirt" src="images/product/feature-pro-4.jpg"></a> </div>
                <div class="product-details">
                  <div class="product-name">
                    <h3><a href="product-detail-view.html">Black African Print Pencil Skirt
                      </a></h3>
                  </div>
                  <div class="price"> <span class="price-old">$123.20</span> <span class="price-new">$14.99</span>
                  </div>
                  <div class="product-hov">
                    <ul>
                      <li class="wish"><a href="#"></a></li>
                      <li class="addtocart"><a href="#">Add to Cart</a> </li>
                      <li class="compare"><a href="#"></a></li>
                    </ul>
                    <div class="review"> <span class="rate"> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star"></i>
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-block ">
                <div class="image"> <a href="product-detail-view.html"><img class="img-responsive" title="T-shirt"
                      alt="T-shirt" src="images/product/2prod281x366.jpg"></a> </div>
                <div class="product-details">
                  <div class="product-name">
                    <h3><a href="product-detail-view.html">Black African Print Pencil Skirt
                      </a></h3>
                  </div>
                  <div class="price"> <span class="price-old">$123.20</span> <span class="price-new">$14.99</span>
                  </div>
                  <div class="product-hov">
                    <ul>
                      <li class="wish"><a href="#"></a></li>
                      <li class="addtocart"><a href="#">Add to Cart</a> </li>
                      <li class="compare"><a href="#"></a></li>
                    </ul>
                    <div class="review"> <span class="rate"> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star"></i>
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-block ">
                <div class="image"> <a href="product-detail-view.html"><img class="img-responsive" title="T-shirt"
                      alt="T-shirt" src="images/product/feature-pro-3.jpg"></a> </div>
                <div class="product-details">
                  <div class="product-name">
                    <h3><a href="product-detail-view.html">Black African Print Pencil Skirt
                      </a></h3>
                  </div>
                  <div class="price"> <span class="price-old">$123.20</span> <span class="price-new">$14.99</span>
                  </div>
                  <div class="product-hov">
                    <ul>
                      <li class="wish"><a href="#"></a></li>
                      <li class="addtocart"><a href="#">Add to Cart</a> </li>
                      <li class="compare"><a href="#"></a></li>
                    </ul>
                    <div class="review"> <span class="rate"> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star"></i>
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-block ">
                <div class="image"> <a href="product-detail-view.html"><img class="img-responsive" title="T-shirt"
                      alt="T-shirt" src="images/product/feature-pro-2.jpg"></a> </div>
                <div class="product-details">
                  <div class="product-name">
                    <h3><a href="product-detail-view.html">Black African Print Pencil Skirt
                      </a></h3>
                  </div>
                  <div class="price"> <span class="price-old">$123.20</span> <span class="price-new">$14.99</span>
                  </div>
                  <div class="product-hov">
                    <ul>
                      <li class="wish"><a href="#"></a></li>
                      <li class="addtocart"><a href="#">Add to Cart</a> </li>
                      <li class="compare"><a href="#"></a></li>
                    </ul>
                    <div class="review"> <span class="rate"> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star rated"></i> <i
                          class="fa fa-star rated"></i> <i class="fa fa-star"></i>
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Featured Products block End  -->
{% endblock content %}


<!-- <div class="columns">
    {% for product in products %}
    <div class="column col-6">
        <div class="card">
            <div class="card-image">
                {% image product.image fill-1000x200 as tmp_image %}
                <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
            </div>
            <div class="card-header">
                <a href="{{ product.get_url }}" class="btn btn-primary float-right">
                    <i class="icon icon-plus"></i>
                </a>
                <div class="card-title h5">
                    {{ product.title }}
                </div>
            </div>
            <div class="card-body">
                {{ product.description }}
            </div>
        </div>
    </div>
    {% endfor %}
</div> -->