<div class="container grid-lg">
    <header class="navbar">

        <section class="navbar-section">
            <a href="/" class="navbar-brand mr-2">
                Products
            </a>
        </section>

        <!-- Snipcart summary and View cart button -->
        <section class="navbar-section snipcart-summary">
            <div class="input-group input-line">
                <a href="" class="btn btn-primary snipcart-checkout">
                    <i class="icon icon-apps"></i>
                    View cart (<span class="snipcart-total-items">0</span>)
                </a>
            </div>
            <script async src="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.js"></script>
            <div hidden id="snipcart" data-api-key="YOUR_PUBLIC_API_KEY"></div>
        </section>

    </header>
</div>