{% load static wagtailcore_tags nav_tags %}
{% get_navbar as navbars %}


<div id="main-menu">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button aria-controls="navbar" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
          type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="#" class="navbar-brand">menu</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">

          {% for navbar in navbars %}

            <li {% if navbar.mega_menu.all.exists %}class="dropdown"{% endif %}>
              <a {% if navbar.mega_menu.all.exists %}aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown"
              class="dropdown-toggle"{% endif %} href="{{ navbar.main_link }}">
                {{ navbar.name }}
                {% if navbar.mega_menu.all.exists %}<span class="caret"></span>{% endif %}
              </a>

              {% if navbar.mega_menu.all.exists %}
                <ul class="dropdown-menu">
                  {% for item in navbar.mega_menu.all %}
                    <li><a href="">{{ item.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}

            </li>

          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>