{% load static wagtailcore_tags wagtailuserbar wagtailsettings_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    {% block title %}
    {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
    {% endblock %}
  </title>

  <meta content="" name="description">
  <meta content="" name="author">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/favicon.png">

  {# Global stylesheets #}
  <link href="{% static 'Bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Poppins:300,500,600,700' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

  {# Snipcart #}
  {% if settings.sitesettings.SnipcartSettings.api_key %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart"
    data-api-key="{{ settings.home.SnipcartSettings.api_key }}"></script>
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
  {% endif %}

  <!-- ======getting the authenticated user for adding product to cart===== -->
  <script type="text/javascript">
    const user = "{{ request.user }}"

    const total = "{{ cartTotal }}"

    function getToken(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
  </script>


  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body id="index">
  {% wagtailuserbar %}
  <div class="wrapar">

    <!-- Header Start-->
    {% include 'includes/header.html' %}
    <!-- Header End -->

    <!-- Main menu Start -->
    {% include 'includes/menus.html' %}
    <!-- Main menu End -->

    <!-- Fashion Sale block Start  -->
    <!-- Fashion Sale block End  -->

    {% block content %}
    {% endblock %}

    <!-- Footer block Start  -->
    {% include 'includes/footer.html' %}
    <!-- Footer block End  -->

  </div>

  {# Global javascript #}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'js/jQuery.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'Bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/globle.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>

  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
</body>